.table-format-component {
	/* visited link */
	a:visited {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	a:link {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* mouse over link */
	a:hover {
	    color: @facebook-blue !important;
	    font-weight: 900 !important;
	}

	/* selected link */
	a:active {
	    color: @facebook-blue !important;
	    
	    font-weight: 900 !important;
	}

}

.table-style-3{
  color: #ffffff;
  background-color: #ffffff;
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  width:90% !important;
  font-size: 18px;
}

.table-style-6{
  color: #000000;
  background-color: #ffffff;
  border: 0px;
  padding: 5px;
  vertical-align: top;
  width:100% !important;
  font-size: 15px;
}

.cell-style-1{

  border: 1px solid #000000;
  padding: 5px;
  vertical-align: top;
  background-color: #104e8b;
  font-size: 18px;
  width:33% !important;
}

.cell-style-bluetext{

  align-content: center;
  text-align: center;
  color: #4080ff;
  padding: 3px;
  vertical-align: top;
  font-size: 15px;
  font-weight: bold;
}

.cell-style-greentext{

  align-content: center;
  text-align: center;
  color: #6fceba;
  padding: 3px;
  vertical-align: top;
  font-size: 15px;
  font-weight: bold;
}


.button-style-1{
  
  vertical-align: right;

}

.cell-style-2{
  color: #000000;
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  background-color: #ffffff;
  font-size: 18px;
  width:33% !important;
}

.text-cell-icons{
  border: 1px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  background-color: #ffffff;
}


.table-style-4{
  color: #ffffff;
  background-color: #ffffff;
  border: 0px solid #104e8b;
  padding: 5px;
  vertical-align: top;
  width:70% !important;
  font-size: 18px;
}
 
.table-style-5{
  background: transparent;
  border: 0px solid #000000;
  padding: 5px;
  vertical-align: top;
  width:90% !important;
  font-size: 18px;
}
 
.cell-style-4{
  color: #000000;
  border: 2.5px solid #104e8b;
  padding: 15px;
  vertical-align: middle;
  text-align: center;
  background-color: #ffffff;
  font-size: 18px;
  width:40%;
}
 
 
//Text rotated within cell
 
td.rotate {
  /* Something you can count on */
  height: 100px;
  white-space: nowrap;
}
 
td.rotate > div {
  transform:
    /* Magic Numbers */
    translate(25px, 51px)
    /* 45 is really 360 - 45 */
    rotate(270deg);
    width: 30px;
    transform-origin: center top;
    display: inline-block;
   
}
 
td.rotate > div > span {
  border-bottom: 1px solid #ccc;
  padding: 5px 10px;
}
 
 